html {
  background-color: #d6e2d5;
}

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat (8, 1fr);
  grid-template-rows: repeat (8, 1fr);
  text-align: center;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  background-color: #fffeec;
}

.header-container {
  grid-column: 1/9;
  grid-row: 1/2;
  font-family: "Montserrat Subrayada", sans-serif;
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}

header {
  margin: auto;
  color: #404040;
}

button {
  cursor: pointer;
  background-color: #012a36;
  color: #fffdd0;
  border: 4px solid #1e5b1e;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.5s;
  outline-color: black;
  border-radius: 10%;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  box-shadow: 0 25px 30px 0 rgba(0, 0, 0, 0.24),
    0 28px 70px 0 rgba(0, 0, 0, 0.19);
  background-color: #fffdd0;
  color: #1e5b1e;
}

.skip-btn,
.next-btn {
  background-color: #29274c;
  border: 4px solid #2d2d99;
}

.next-btn {
  margin-top: 2rem;
}

.skip-btn:hover,
.next-btn:hover {
  color: #2d2d99;
  border: 4px solid #2d2d99;
}

.quiz-container {
  grid-column: 2/8;
  grid-row: 2/9;
}

.quiz-question {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.quiz-answer {
  height: 100%;
  width: 100%;
  display: none;
  background-color: #fffeec;
  margin-top: 2rem;
}

.kanye-img,
.trump-img {
  padding: 2rem;
  border: solid 5px black;
  margin: auto;
  width: 50%;
}

.show-quote {
  width: 60rem;
  margin: 1.5rem auto auto auto;
  word-wrap: break-word;
  padding: 3rem;
  height: 10rem;
  border: solid 10px #6b716a;
  background-color: #fffdd0;
}

.quiz-responses {
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.response-container {
  width: 80%;
  border: solid black 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto auto;
}

.score-skip-container {
 border: solid black 2px;
 justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 8rem;
  margin: auto;
}

.answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  margin-bottom: 2rem;
}

.kanye-image {
  margin-top: 1rem;
}

.score-title {
  margin-bottom: 1rem;
}

.score-container {
  background-color: #cccbbc;
  padding: 1rem;
  border-radius: 10%;
  margin-bottom: 5rem;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-size: 4rem;
}


@media only screen and (max-width: 1500px) {
  body {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1150px) {
  .show-quote {
    width: 50rem;
  }
}

@media only screen and (max-width: 1000px) {
  .show-quote {
    width: 38rem;
  }
}

@media only screen and (max-width: 850px) {
  body {
    font-size: 1rem;
  }

  .score-container {
    font-size: 3rem;
  }

  .show-quote {
    height: 7rem;
    padding: 2rem;
  }
}

@media only screen and (max-width: 775px) {
  .show-quote {
    width: 28rem;
  }

  .quiz-responses {
    flex-direction: column;
    margin-top: 1rem;
  }

  img {
    display: none;
  }

  .score-container {
    margin-bottom: 1rem;
  }

  .score-title {
    margin-bottom: 0.5rem;
  }

  .response-container {
    margin: 1rem auto;
  }
}

@media only screen and (max-width: 600px) {
  .show-quote {
    width: 20rem;
  }
}

@media only screen and (max-width: 480px) {
  .show-quote {
    width: 15rem;
  }
}

@media only screen and (max-width: 400px) {
  .show-quote {
    width: 11rem;
  }
}

@media (min-width: 851px) and (max-width: 1440px) {
  .show-quote {
    padding: 2rem;
  }
}

@media only screen and (max-width: 420px) {
  button {
    padding: 1rem 1rem;
  }
}
